- if @project.mirror_last_update_failed?
  .panel.panel-danger
    .panel-heading
      = render partial: 'shared/mirror_status', locals: { raw_message: true }
    .panel-body
      %pre
        :preserve
          #{h(@project.import_error.try(:strip))}
