<%= yield -%>

---
<%  if @target_url -%>
<%    if @reply_by_email -%>
<%=     "Reply to this email directly or view it on GitLab: #{@target_url}" -%>
<%    else -%>
<%=     "View it on GitLab: #{@target_url}" -%>
<%    end -%>
<%  end -%>

<%= "You're receiving this email because #{notification_reason_text(@reason)}." %>
<%# EE-specific start %><%= render 'layouts/mailer/additional_text' %><%# EE-specific end %>